.theme-company-logo {
    background: url("images/logo-uz-alfresco.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 76px !important;
    width: 266px !important;
}

.form-fields.login .form-field > span.yui-button {
	border-color: #223e73 !important;
}
.form-fields.login .form-field > span.yui-button > .first-child {
	border-color: #223e73 !important;
	background-color: #223e73 !important;
}